[submodule "3rd/argparse"]
	path = 3rd/argparse
	url = https://github.com/mpeterv/argparse.git
[submodule "3rd/uuid"]
	path = 3rd/uuid
	url = https://github.com/Tieske/uuid.git
[submodule "3rd/behavior3"]
	path = 3rd/behavior3
	url = https://github.com/zhandouxiaojiji/behavior3lua.git
[submodule "3rd/fsm"]
	path = 3rd/fsm
	url = https://github.com/unindented/lua-fsm.git
[submodule "3rd/revent"]
	path = 3rd/revent
	url = https://github.com/zhandouxiaojiji/skynet-remote-event.git
[submodule "3rd/fog"]
	path = 3rd/fog
	url = https://github.com/zhandouxiaojiji/lua-fog.git
[submodule "3rd/git-hooks"]
	path = 3rd/git-hooks
	url = https://github.com/zhandouxiaojiji/git-hooks.git
